@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#ProdList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
#ProdList>div>img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 320px;
    cursor: pointer;
}
#ProdList>div{
    position: relative;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 10px;
    background-color: rgb(227, 230, 236);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 460px;
}
#ProdList>div p:nth-child(4){
    font-size: 14px;
}
#ProdList>div p:nth-child(5){
    font-weight: bold;
    margin-bottom: -5px;
    cursor: pointer;
}
#ProdList>div>span{
   margin-left: 5px;
}
#ProdList>div>span:nth-child(6){
    font-weight: bold;  
}
#ProdList>div>s{
    font-size: 12px;
    color: grey;
}
#ProdList>div>span:nth-child(8){
    font-weight: bold;
    color: green;
    font-size: 10px;
}
#ProdList>div>button{
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-bottom: 30px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#ProdList>div>p:nth-child(3){
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: auto;
    bottom: 130px;
    left: 50px;
    border: 1px solid white;
    border-radius: 10px;
    width: 180px;
    background-color: rgb(252,197,11);
}
#ProdList>div>p:nth-child(2){
     position: absolute;
    border-radius: 0px 5px 5px 0px;
    font-size: 9px;
    font-weight: bold;
    height: 19px;
    top: 4px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
}



/* Categories CSS */
#Category{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    margin-left: 30px;
    margin-right: 30px;
    gap: 12px;
}
#Category>div{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
}




/* Launches */
#Launches{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
#Launches>div>img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 320px;
    cursor: pointer;
}
#Launches>div{
    position: relative;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 10px;
    background-color: rgb(227, 230, 236);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 460px;
}
#Launches>div p:nth-child(4){
    font-size: 14px;
}
#Launches>div p:nth-child(5){
    font-weight: bold;
    margin-bottom: -5px;
    cursor: pointer;
}
#Launches>div>span{
   margin-left: 5px;
}
#Launches>div>span:nth-child(6){
    font-weight: bold;
    
}
#Launches>div>s{
    font-size: 12px;
    color: grey;
}
#Launches>div>span:nth-child(8){
    font-weight: bold;
    color: green;
    font-size: 10px;
}
#Launches>div>button{
    background-color: black;
    color: white;
    margin-left: 40px;
    margin-bottom: 30px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#Launches>div>p:nth-child(3){
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: auto;
    bottom: 130px;
    left: 50px;
    border: 1px solid white;
    border-radius: 10px;
    width: 180px;
    background-color: rgb(252,197,11);
}
#Launches>div>p:nth-child(2){
     position: absolute;
    border-radius: 0px 5px 5px 0px;
    font-size: 9px;
    font-weight: bold;
    height: 19px;
    top: 4px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
}



/* features */
#Features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Poppins', sans-serif;
}
#Features>div{
    text-align: center;
    font-size: 20px;
}
#Features>div>img{
    width: 170px;
    height: 170px;
}



/* Brandambasiter */
#brand{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
#brand>div{
    text-align: center;
}
#brand>div>p{
    text-align: center;
    color: rgb(47,96,150);
}
#brand>div>img{
    width: 100%;
}


#end{
    display: flex;
    justify-content: center;
}
#end>img{
    width: 100%;
}


/* new code start*/

#main{
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
}
#main > span{
    font-weight: bold;
}
#main> span > span{
    text-decoration: underline 2px solid red;
    
}
.bigmain{
      width: 97%;
      margin: auto;
      overflow-x: scroll;
      scrollbar-width: none;
}
.bigmain::-webkit-scrollbar {
    display: none; 
}
#main1{
    display: flex;
    /* width: 1680px; */
    width: 100%;
    /* width: 1280px; */
    gap: 20px;
    
}
#main1 > div{
    /* width: 320px; */
    width: 100%;
    border-radius: 10px;
}
#main1 > div > a > video{
    width: 100%;
    border-radius: 10px;
}
#main1 > div > p{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.discountbanner {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .discountbanner img {
    width: 100%;
    height: auto;
    display: block;
  }

  .discountbanner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    width: 80%;
  }
.discountbanner span{
    font-weight: bold;
}

#main2{
     margin-top: 20px;
     margin-bottom: 20px;
    display: flex;
    /* width: 1340px; */
    width: 100%;
    gap: 20px;
}
#main2 > div{
    /* width: 320px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    border-radius: 10px;
}
#main2 > div > div > a > img{
    border-radius: 10px;
    width: 100%;
    height: 350px;
}
#main2 > div >div:nth-child(2){
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #FAFAFA;
    border-radius: 0 0 10px 10px;
}
#main2 > div > div:nth-child(2) > div:nth-child(1) > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#main2 > div > div:nth-child(2) > div:nth-child(1) > p:nth-child(2){
    margin-top: -15px;
    font-size: 16px;
}
#main2 > div > div:nth-child(2) > div:nth-child(1) > p:nth-child(2) > span:nth-child(1){
    text-decoration: line-through;
    color: #b2b9bf;
    font-size: 12px;
}
#main2 > div > div:nth-child(2) > div:nth-child(1) > p:nth-child(2) > span:nth-child(2){
    color: #12b985;
    font-size: 10px;
}
#main2 > div > div:nth-child(2) > div:nth-child(2){
    display: flex;
    align-items: center;
    
}
#main2 > div > div:nth-child(2) > div:nth-child(2) > button{
    font-size: 14px;
    border: 0;
    padding: 12px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

#main6{
    display: flex;
    width: 1870px;
    gap: 20px;
}
#main6 > div{
    width: 250px;
}
#main6 > div > div:nth-child(1) > a > video{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#main6 > div > div:nth-child(2){
    background-color: #eff4f7;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;
}
#main6 > div > div:nth-child(2) > div{
    width: 25%;
    margin-left: 35%;
    margin-top: -35px;
    
}
#main6 > div > div:nth-child(2) > div > a > img{
    width: 100%;
    background-color: #ffffff;
    border: 0.5px solid #b2b9bf;
    border-radius: 5px;
}
#main6 > div > div:nth-child(2) > p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#main6 > div > div:nth-child(2) > p:nth-child(2){
    margin-top: 10px;
}
#main6 > div > div:nth-child(2) > p:nth-child(3){
    font-size: 16px;
    margin-top: -10px;
}
#main6 > div > div:nth-child(2) > p:nth-child(3) > span:nth-child(1){
    text-decoration: line-through;
    color: #b2b9bf;
    font-size: 12px;
}
#main6 > div > div:nth-child(2) > p:nth-child(3) >span:nth-child(2){
    color: #12b985;
    font-size: 10px;
}


/* new code end */




@media screen and (max-width: 1000px) {
    .topnav p {display: none;}
  
    .topnav a.icon {
      float: right;
      display: block;
    }
    #brand{
        grid-template-columns: repeat(3,1fr);
    }
     #Features{
        grid-template-columns: repeat(2,1fr);
     }
     #Launches{
        grid-template-columns: repeat(3,1fr);
     }
     #Category{
        grid-template-columns: repeat(4,1fr);
     }
     #ProdList{
        grid-template-columns: repeat(3,1fr);
     }
  }
  
 @media screen and (max-width:800px){
    #search{
        display: none;
    }
    #videos{
        grid-template-columns: repeat(2,1fr);
    }
    #brand{
        grid-template-columns: repeat(2,1fr);
    }
    #Launches{
        grid-template-columns: repeat(2,1fr);
     }
     #ProdList{
        grid-template-columns: repeat(2,1fr);
     }
}


@media screen and (max-width:500px){
    
    #Launches{
        grid-template-columns: repeat(1,1fr);
     }
     #ProdList{
        grid-template-columns: repeat(1,1fr);
     }
}