@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#NavContainer{
    position: sticky;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 70px;
    justify-content: space-around;
    margin-top: 10px;

}
.iconb{
   margin-top: 20px;
}

#boat{
    width: 90px;
}
#search{
    padding-left: 30px;
    width: 300px;
    height: 35px;
    background: url('https://cdn-icons-png.flaticon.com/512/482/482631.png');
    background-position: 10px 10px ; 
    background-repeat: no-repeat;
    background-size: 17px;
    border-radius: 40px;
    border: 2px solid rgb(244,245,247);
    background-color:rgb(244,245,247) ;
    margin-top: 20px;
    margin-left: 40px;
}
.logo{
    margin-top: 20px;
    height: 35px;
    width: 35px;
    margin-left: -20px;
}
.logoP{
    margin-top: 23px;
    height: 30px;
    width: 30px;
}
.top{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
    background-color: rgb(239,244,247);
    height: 30px;
    padding-top: 13px;
    margin: -10px;
    cursor: pointer;

}
.top>span{
    font-weight: bold;
}
#NavContainer>div{
    display: flex;
   margin-top: 15px;
   margin-right: 100px;
   gap: 30px;
   
}
.icon{
    display: none;
    color: black;
    font-size: 30px;
    margin-top: 15px;
}
#NavContainer>div>p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(190, 55, 55);
    text-decoration-thickness: 2px;
    font-weight: bolder;
    cursor: pointer;
}
a{
    cursor: pointer;
}


/* After navbar */


#videos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
video{
    width: 100%;
    border-radius: 20px;
}
#videos>div>h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
 .sell{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: 40px;
 }
 .sell>span{
    font-weight: bold;
 }
 .sell>span>span{
    text-decoration: underline;
    text-decoration-color: rgb(190, 55, 55);
 }
 


 @media screen and (max-width: 1000px) {
    .topnav p {display: none;}
  
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  
  }
  
 @media screen and (max-width:800px){
    #search{
        display: none;
    }
    #videos{
        grid-template-columns: repeat(2,1fr);
    }
}