/* Navbar Css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#NavContainer{
    position: sticky;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 70px;
    justify-content: space-around;
    margin-top: 10px;

}
.iconb{
   margin-top: 20px;
}

#boat{
    width: 90px;
}
#search{
    padding-left: 30px;
    width: 300px;
    height: 35px;
    background: url('https://cdn-icons-png.flaticon.com/512/482/482631.png');
    background-position: 10px 10px ; 
    background-repeat: no-repeat;
    background-size: 17px;
    border-radius: 40px;
    border: 2px solid rgb(244,245,247);
    background-color:rgb(244,245,247) ;
    margin-top: 20px;
    margin-left: 40px;
}
.logo{
    margin-top: 20px;
    height: 35px;
    width: 35px;
    margin-left: -20px;
}
.logoP{
    margin-top: 23px;
    height: 30px;
    width: 30px;
}
.top{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
    background-color: rgb(239,244,247);
    height: 30px;
    padding-top: 13px;
    margin: -10px;
    cursor: pointer;

}
.top>span{
    font-weight: bold;
}
#NavContainer>div{
    display: flex;
   margin-top: 15px;
   margin-right: 100px;
   gap: 30px;
   
}
.icon{
    display: none;
    color: black;
    font-size: 30px;
    margin-top: 15px;
}
#NavContainer>div>p:hover{
    text-decoration: underline;
    text-decoration-color: rgb(190, 55, 55);
    text-decoration-thickness: 2px;
    font-weight: bolder;
    cursor: pointer;
}
a{
    cursor: pointer;
}


/* Signup page CSS */


.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.container>img {
    display: block;
    margin: 0 auto;
    width: 210px;
    margin: 20px
} 

#form>h2{
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    color: #000;
    line-height: 10px;
    letter-spacing: -.01em; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

#form>span{
        font-weight: 700;
        font-size: 17px;
        margin-right:119px;
        text-align: center;
        color: #131313;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form> input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    background-color: rgba(248, 224, 224, 0.726);
    font-weight: lighter;
    font-size: 15px;
    border: none;
  }


 span a {
    color: #ed1c24;
    margin-left: 2px;
    text-decoration: none;
    line-height: 34px;
    text-align: left;
 }

  
 #btn{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(255,0,0);
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 130px;
    
 } 


/* Footer Styles */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.footer-container{
    display: flex;
    font-family: 'Poppins', sans-serif;
    
}

.item_content>img{
    width: 151px;
    height: 62px;
    margin-left: 38px;
    
}
.item_content>span{
   
    margin-left: 38px;
    font-size: 24px;
   font-weight: bold;
   opacity: 1;
   font-family: 'Poppins', sans-serif;
   line-height: normal;
   margin-bottom: 5px;
   display: block;
   color: #293036;
   
}
#Subscribe_email{
    font-size: 13px;
    width: 433px;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    padding: 0px 12px;
    border-radius: 8px;
    border: none;
}


 #top {
    
    background-color:#e7f0f5;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  #middle {
    
    background-color:#eff4f7;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-column {
    
    font-family: 'Poppins', sans-serif;
    flex-basis: 20%;
    margin-bottom: 18px;
    margin-left: 84px;
  }
  
  .footer-column h4 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }
  
  .social-icons {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #555555;
  }
  
  .social-icon:hover {
    color: #000000;

  }

  
#bottom {
  background-color: #e7f0f5;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #0e0303;
}

.social-icon:hover {
  color: #000000;
}

.footer-links {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-links a {
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  color: #555555;
  text-decoration: none;
}

.footer-links a:hover {
  color: #000000;
}

.footer-copyright,
.footer-contact {
  margin-top: 20px;
  color: #555555;
  font-size: 12px;
}
.social-icons>span{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}