@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#uper>h2,p{
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
#uper>p{
    font-size: 11px;
    color: gray;
}
#bigimg>img{
    width: 100%;
}
#bigimg{
    margin-left: -8px;
    margin-right: -8px;
    cursor: pointer;
}
#watches{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: 'Poppins', sans-serif;
    gap: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
#watches>div>img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 350px;
    cursor: pointer;
}
#watches>div{
    position: relative;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 10px;
    background-color: rgb(227, 230, 236);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
#watches>div>p:nth-child(2){
    margin-left: 0px ;
    margin-top: 0px;
    font-size: 14px;
}
#watches>div>p:nth-child(3){
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    cursor: pointer;
}
#watches>div>span{
    margin-left: 5px;
 }
 #watches>div>span:nth-child(4){
    font-weight: bold;  
}
#watches>div>s{
    font-size: 12px;
    color: grey;
}
#watches>div>span:nth-child(6){
    font-weight: bold;
    color: green;
    font-size: 10px;
}
#watches>div>button{
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-bottom: 30px;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#bott>h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
}
#bott>p{
    font-size: 13px;
    color: grey;
}
#lastimg>img{
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    
  
     
     #watches{
        grid-template-columns: repeat(3,1fr);
     }
  }
  
 @media screen and (max-width:800px){
    
     #watches{
        grid-template-columns: repeat(2,1fr);
     }
}


@media screen and (max-width:500px){
    
     #watches{
        grid-template-columns: repeat(1,1fr);
     }
}